        <div id="footer">
            <div id="footer-inner">
                <p id="copyright">Copyright (c) <%= site.copyright.beginYear %>-<%= site.copyright.endYear %> <%= site.copyright.owner.begin %><a href=" <%= site.copyright.owner.href %>"> <%= site.copyright.owner.content %></a> <%= site.copyright.owner.end %> </p>
            </div>
        </div>
        <% include footer_plugin %>
    </body>
</html>
